services:
  - type: web
    name: paytaksi-bot
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: WEBHOOK_SECRET
        value: paytaksi_bot
