{% extends "base.html" %}
{% block content %}
<div class="card">
  <h2>Rides</h2>
  <table>
    <tr><th>ID</th><th>Status</th><th>Passenger</th><th>Driver</th><th>Distance</th><th>Fare</th><th>Addresses</th></tr>
    {% for r in items %}
    <tr>
      <td>{{r.id}}</td>
      <td><span class="pill">{{r.status.value}}</span></td>
      <td>{{r.passenger_user_id}}</td>
      <td>{{r.driver_user_id}}</td>
      <td>{{r.distance_km}}</td>
      <td>{{r.fare_azn}} (comm {{r.commission_azn}})</td>
      <td style="font-size:12px">
        P: {{r.pickup_address}}<br>
        D: {{r.dest_address}}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
